In [1]:
import pandas as pd

hosp_acute = pd.read_excel('HospitalList2020daFINAL.xlsx', sheet_name='Acute')
hosp_acute

,ID,NAME,ADDRESS,CITY,STATE,ZIP,FIPS,CBSA 2020,RUCA Code,FORHP Rural/Urban 2020,SPECIAL PAYMENT,PHONE NUMBER,"CERTIFIED BEDS, POS","TOTAL BEDS, POS","BEDS, PSF","ACUTE BEDS, HCRIS"
0,10001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,1069.0,Metro,1,Urban,RRC,3347938701,420,420,330,342
1,10005,MARSHALL MEDICAL CENTERS SOUTH CAMPUS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,1055.0,Metro,5,Rural,RRC,2565938310,240,240,199,204
2,10006,NORTH ALABAMA MEDICAL CENTER,1701 VETERANS DRIVE,FLORENCE,AL,35630,1077.0,Metro,1,Urban,RRC,2567688400,338,338,233,223
3,10007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,1039.0,Neither,7,Rural,MDH,3344933541,99,99,41,45
4,10008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,1041.0,Neither,3,Rural,NONE,3343353374,65,65,29,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4608,670125,TEXAS CENTER FOR INFECTIOUS DISEASE,2303 SE MILITARY DR P O BOX 23340,SAN ANTONIO,TX,78223,48029.0,Metro,1,Urban,NONE,2105348857,75,75,31,50
4609,670128,BAYLOR SCOTT & WHITE MEDICAL CENTER ? PFLUGERV...,2600 EAST PFLUGERVILLE PARKWAY,PFLUGERVILLE,TX,78660,48453.0,Metro,1,Urban,NONE,5126546100,25,25,24,25
4610,670129,THE HEIGHTS HOSPITAL,"1917 ASHLAND STREET, SUITE 300",HOUSTON,TX,77008,48201.0,Metro,1,Urban,NONE,7135746814,89,89,50,.
4611,670131,BAYLOR SCOTT & WHITE MEDICAL CENTER ? BUDA,5330 OVERPASS ROAD SUITE 110,BUDA,TX,78610,48209.0,Metro,1,Urban,NONE,7379996200,15,15,15,.
4612,670132,METHODIST SOUTHLAKE HOSPITAL,421 E STATE HIGHWAY 114,SOUTHLAKE,TX,76092,48439.0,Metro,1,Urban,NONE,8786544400,54,54,54,.

In [36]:
hosp_specialty = pd.read_excel('HospitalList2020daFINAL.xlsx', sheet_name='Specialty')
hosp_specialty
test = hosp_specialty.drop(axis=0, index = [418])
# test.iloc[415:425,0]
test["ID"]=test["ID"].astype('int64')
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1378 entries, 0 to 1378
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      1378 non-null   int64
 1   NAME                    1378 non-null   object
 2   ADDRESS                 1378 non-null   object
 3   CITY                    1378 non-null   object
 4   STATE                   1378 non-null   object
 5   ZIP                     1378 non-null   int64
 6   FIPS                    1378 non-null   int64
 7   CBSA 2020               1378 non-null   object
 8   RUCA Code               1378 non-null   float64
 9   FORHP Rural/Urban 2020  1378 non-null   object
 10  TYPE                    1378 non-null   object
 11  PHONE NUMBER            1378 non-null   int64
 12  CERTIFIED BEDS, POS     1378 non-null   int64
 13  TOTAL BEDS, POS         1378 non-null   int64
 14  BEDS, PSF               1378 non-null   object
 15  ACUTE BEDS, HCRIS       1378 non-null   object
dtypes: float64(1), int64(6), object(9)
memory usage: 183.0+ KB

In [42]:
test["FIPS"]=test["FIPS"].astype('float64')
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1378 entries, 0 to 1378
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      1378 non-null   int64
 1   NAME                    1378 non-null   object
 2   ADDRESS                 1378 non-null   object
 3   CITY                    1378 non-null   object
 4   STATE                   1378 non-null   object
 5   ZIP                     1378 non-null   int64
 6   FIPS                    1378 non-null   float64
 7   CBSA 2020               1378 non-null   object
 8   RUCA Code               1378 non-null   float64
 9   FORHP Rural/Urban 2020  1378 non-null   object
 10  TYPE                    1378 non-null   object
 11  PHONE NUMBER            1378 non-null   int64
 12  CERTIFIED BEDS, POS     1378 non-null   int64
 13  TOTAL BEDS, POS         1378 non-null   int64
 14  BEDS, PSF               1378 non-null   object
 15  ACUTE BEDS, HCRIS       1378 non-null   object
dtypes: float64(2), int64(5), object(9)
memory usage: 183.0+ KB

In [39]:
hosp_acute.info()
hosp_acute.FIPS.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4613 entries, 0 to 4612
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      4613 non-null   int64
 1   NAME                    4613 non-null   object
 2   ADDRESS                 4613 non-null   object
 3   CITY                    4613 non-null   object
 4   STATE                   4613 non-null   object
 5   ZIP                     4613 non-null   int64
 6   FIPS                    4612 non-null   float64
 7   CBSA 2020               4607 non-null   object
 8   RUCA Code               4613 non-null   object
 9   FORHP Rural/Urban 2020  4607 non-null   object
 10  SPECIAL PAYMENT         4613 non-null   object
 11  PHONE NUMBER            4613 non-null   int64
 12  CERTIFIED BEDS, POS     4613 non-null   int64
 13  TOTAL BEDS, POS         4613 non-null   int64
 14  BEDS, PSF               4613 non-null   object
 15  ACUTE BEDS, HCRIS       4613 non-null   object
dtypes: float64(1), int64(5), object(10)
memory usage: 576.8+ KB

6037.0     78
17031.0    44
4013.0     34
48201.0    32
48439.0    26
           ..
48459.0     1
20133.0     1
37181.0     1
6101.0      1
20109.0     1
Name: FIPS, Length: 2484, dtype: int64

In [48]:
# test_RUCA = hosp_acute["RUCA Code"].astype('float64')
hosp_acute.loc[(hosp_acute["RUCA Code"] =="."), "RUCA Code"] = 99
hosp_acute["RUCA Code"] =hosp_acute["RUCA Code"].astype('float64')
hosp_acute.info()
test.info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4613 entries, 0 to 4612
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      4613 non-null   int64
 1   NAME                    4613 non-null   object
 2   ADDRESS                 4613 non-null   object
 3   CITY                    4613 non-null   object
 4   STATE                   4613 non-null   object
 5   ZIP                     4613 non-null   int64
 6   FIPS                    4612 non-null   float64
 7   CBSA 2020               4607 non-null   object
 8   RUCA Code               4613 non-null   float64
 9   FORHP Rural/Urban 2020  4607 non-null   object
 10  SPECIAL PAYMENT         4613 non-null   object
 11  PHONE NUMBER            4613 non-null   int64
 12  CERTIFIED BEDS, POS     4613 non-null   int64
 13  TOTAL BEDS, POS         4613 non-null   int64
 14  BEDS, PSF               4613 non-null   object
 15  ACUTE BEDS, HCRIS       4613 non-null   object
dtypes: float64(2), int64(5), object(9)
memory usage: 576.8+ KB

<bound method DataFrame.info of           ID                                              NAME  \
0      12006                           INFIRMARY LTAC HOSPITAL
1      12007                NOLAND HOSPITAL MONTGOMERY II, LLC
2      12008            SELECT SPECIALTY HOSPITAL - BIRMINGHAM
3      12009                NOLAND HOSPITAL BIRMINGHAM II, LLC
4      12010                    NOLAND HOSPITAL DOTHAN II, LLC
...      ...                                               ...
1374  673071  ENCOMPASS HEALTH REHABILITATION HOSPITAL OF KATY
1375  673072             COBALT REHABILITATION HOUSTON HEIGHTS
1376  673073          EVEREST REHABILITATION HOSPITAL LONGVIEW
1377  673074            EVEREST REHABILITATION HOSPITAL TEMPLE
1378  713025               NORTH SHORE REHABILITATION HOSPITAL

                                             ADDRESS        CITY STATE    ZIP  \
0                          5 MOBILE INFIRMARY CIRCLE      MOBILE    AL  36607
1              1725 PINE STREET 5TH FLOOR NORTH WING  MONTGOMERY    AL  36106
2     2010 BROOKWOOD MEDICAL CENTER DRIVE, 3RD FLOOR  BIRMINGHAM    AL  35209
3               50 MEDICAL PARK EAST DRIVE 8TH FLOOR  BIRMINGHAM    AL  35235
4                  1108 ROSS CLARK CIRCLE, 4TH FLOOR      DOTHAN    AL  36302
...                                              ...         ...   ...    ...
1374                       23331 GRAND RESERVE DRIVE        KATY    TX  77494
1375                           1917 ASHLAND ST, FL 4     HOUSTON    TX  77008
1376                                  701 E LOOP 281    LONGVIEW    TX  75605
1377                       23621 SE H.K. DODGEN LOOP      TEMPLE    TX  76504
1378   64030 HWY 434, 1ST AND 2ND FLOOR OF THE TOWER     LACOMBE    LA  70445

         FIPS CBSA 2020  RUCA Code FORHP Rural/Urban 2020   TYPE  \
0      1097.0     Metro        1.0                  Urban  LTACH
1      1101.0     Metro        1.0                  Urban  LTACH
2      1073.0     Metro        1.0                  Urban  LTACH
3      1073.0     Metro        1.0                  Urban  LTACH
4      1069.0     Metro        1.0                  Urban  LTACH
...       ...       ...        ...                    ...    ...
1374  48157.0     Metro        1.0                  Urban  REHAB
1375  48201.0     Metro        1.0                  Urban  REHAB
1376  48183.0     Metro        1.0                  Urban  REHAB
1377  48027.0     Metro        1.0                  Urban  REHAB
1378  22103.0     Metro        1.0                  Urban  REHAB

      PHONE NUMBER  CERTIFIED BEDS, POS  TOTAL BEDS, POS BEDS, PSF  \
0       2516605611                   22               22         .
1       3342400532                   65               65         .
2       2055994595                   38               38         .
3       2058385100                   45               45         .
4       3346994300                   35               35         .
...            ...                  ...              ...       ...
1374    2815053500                   40               40         .
1375    7138149100                   35               35         .
1376    9035335379                   36               36         .
1377    2544100555                   36               36         .
1378    9852184660                   30               30         .

     ACUTE BEDS, HCRIS
0                   22
1                   65
2                   38
3                   45
4                   38
...                ...
1374                 .
1375                 .
1376                36
1377                36
1378                 .

[1378 rows x 16 columns]>

In [3]:
hosp_specialty.columns

Index(['ID', 'NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP', 'FIPS', 'CBSA 2020',
       'RUCA Code', 'FORHP Rural/Urban 2020', 'TYPE', 'PHONE NUMBER',
       'CERTIFIED BEDS, POS', 'TOTAL BEDS, POS', 'BEDS, PSF',
       'ACUTE BEDS, HCRIS'],
      dtype='object')

In [4]:
hosp_acute.columns

Index(['ID', 'NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP', 'FIPS', 'CBSA 2020',
       'RUCA Code', 'FORHP Rural/Urban 2020', 'SPECIAL PAYMENT',
       'PHONE NUMBER', 'CERTIFIED BEDS, POS', 'TOTAL BEDS, POS', 'BEDS, PSF',
       'ACUTE BEDS, HCRIS'],
      dtype='object')

In [5]:
hosp_acute.iloc[:,:1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4613 entries, 0 to 4612
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      4613 non-null   int64
dtypes: int64(1)
memory usage: 36.2 KB

In [6]:
# Is there any overlap between acute and specialty? Use IDs to figure it out?

# int_df = pd.merge(hosp_acute.iloc[:,:1], hosp_specialty.iloc[:,:1], how ='inner')
int_df = pd.concat([hosp_specialty.iloc[:,:10], hosp_acute.iloc[:,:10]], join='inner', keys=['ID'])
int_df

             ID                                              NAME  \
ID 0     012006                           INFIRMARY LTAC HOSPITAL
   1     012007                NOLAND HOSPITAL MONTGOMERY II, LLC
   2     012008            SELECT SPECIALTY HOSPITAL - BIRMINGHAM
   3     012009                NOLAND HOSPITAL BIRMINGHAM II, LLC
   4     012010                    NOLAND HOSPITAL DOTHAN II, LLC
...         ...                                               ...
   1374  673071  ENCOMPASS HEALTH REHABILITATION HOSPITAL OF KATY
   1375  673072             COBALT REHABILITATION HOUSTON HEIGHTS
   1376  673073          EVEREST REHABILITATION HOSPITAL LONGVIEW
   1377  673074            EVEREST REHABILITATION HOSPITAL TEMPLE
   1378  713025               NORTH SHORE REHABILITATION HOSPITAL

                                                ADDRESS        CITY STATE  \
ID 0                          5 MOBILE INFIRMARY CIRCLE      MOBILE    AL
   1              1725 PINE STREET 5TH FLOOR NORTH WING  MONTGOMERY    AL
   2     2010 BROOKWOOD MEDICAL CENTER DRIVE, 3RD FLOOR  BIRMINGHAM    AL
   3               50 MEDICAL PARK EAST DRIVE 8TH FLOOR  BIRMINGHAM    AL
   4                  1108 ROSS CLARK CIRCLE, 4TH FLOOR      DOTHAN    AL
...                                                 ...         ...   ...
   1374                       23331 GRAND RESERVE DRIVE        KATY    TX
   1375                           1917 ASHLAND ST, FL 4     HOUSTON    TX
   1376                                  701 E LOOP 281    LONGVIEW    TX
   1377                       23621 SE H.K. DODGEN LOOP      TEMPLE    TX
   1378   64030 HWY 434, 1ST AND 2ND FLOOR OF THE TOWER     LACOMBE    LA

           ZIP   FIPS CBSA 2020  RUCA Code FORHP Rural/Urban 2020
ID 0     36607   1097     Metro        1.0                  Urban
   1     36106   1101     Metro        1.0                  Urban
   2     35209   1073     Metro        1.0                  Urban
   3     35235   1073     Metro        1.0                  Urban
   4     36302   1069     Metro        1.0                  Urban
...        ...    ...       ...        ...                    ...
   1374  77494  48157     Metro        1.0                  Urban
   1375  77008  48201     Metro        1.0                  Urban
   1376  75605  48183     Metro        1.0                  Urban
   1377  76504  48027     Metro        1.0                  Urban
   1378  70445  22103     Metro        1.0                  Urban

[1379 rows x 10 columns]

In [7]:
for state in hosp_acute['STATE'].unique():
    print(state)

AL
AK
AZ
AR
CA
CO
CT
DE
DC
FL
GA
HI
ID
IL
IN
IA
KS
KY
LA
ME
MD
MA
MI
MN
MS
MO
MT
NE
NV
NH
NJ
NM
NY
NC
ND
OH
OK
OR
PA
PR
RI
SC
SD
TN
TX
UT
VT
VI
VA
WA
WV
WI
WY
AS
GU
MP

In [8]:
overlap_df = hosp_acute.merge(hosp_specialty.iloc[:,1:2],how='inner')
overlap_df

,ID,NAME,ADDRESS,CITY,STATE,ZIP,FIPS,CBSA 2020,RUCA Code,FORHP Rural/Urban 2020,SPECIAL PAYMENT,PHONE NUMBER,"CERTIFIED BEDS, POS","TOTAL BEDS, POS","BEDS, PSF","ACUTE BEDS, HCRIS"
0,50320,HIGHLAND HOSPITAL,1411 EAST 31ST STREET,OAKLAND,CA,94602,6001.0,Metro,1,Urban,NONE,5104374800,613,613,169,169
1,330164,HIGHLAND HOSPITAL,1000 SOUTH AVENUE,ROCHESTER,NY,14620,36055.0,Metro,1,Urban,RRC,5853416736,261,261,229,243
2,130065,MOUNTAIN VIEW HOSPITAL,2325 CORONADO STREET,IDAHO FALLS,ID,83404,16019.0,Metro,1,Urban,NONE,2085572700,43,43,40,41
3,460013,MOUNTAIN VIEW HOSPITAL,1000 EAST 100 NORTH,PAYSON,UT,84651,49049.0,Metro,1,Urban,NONE,8014657100,126,126,124,124
4,310012,VALLEY HOSPITAL,223 N VAN DIEN AVENUE,RIDGEWOOD,NJ,7450,34003.0,Metro,1,Urban,NONE,2014478000,421,421,346,388
5,360076,ATRIUM MEDICAL CENTER,ONE MEDICAL CENTER DRIVE,FRANKLIN,OH,45005,39165.0,Metro,2,Urban,NONE,5134205102,328,328,230,235

In [9]:
overlap_df2 = hosp_specialty.merge(hosp_acute.iloc[:,1:2], how = 'inner')
overlap_df2.drop_duplicates()

,ID,NAME,ADDRESS,CITY,STATE,ZIP,FIPS,CBSA 2020,RUCA Code,FORHP Rural/Urban 2020,TYPE,PHONE NUMBER,"CERTIFIED BEDS, POS","TOTAL BEDS, POS","BEDS, PSF","ACUTE BEDS, HCRIS"
0,014006,MOUNTAIN VIEW HOSPITAL,3201 SCENIC HIGHWAY,GADSDEN,AL,35902,1055,Metro,2.0,Urban,PSYCH,2565469265,68,68,.,68
2,034026,VALLEY HOSPITAL,3550 EAST PINCHOT AVENUE,PHOENIX,AZ,85018,4013,Metro,1.0,Urban,PSYCH,6029523900,122,122,.,122
3,452114,ATRIUM MEDICAL CENTER,"11929 W AIRPORT BLVD, SUITE 110",STAFFORD,TX,77477,48157,Metro,1.0,Urban,LTACH,2812078200,68,68,.,68
4,514001,HIGHLAND HOSPITAL,"300 56TH STREET, SE",CHARLESTON,WV,25304,54039,Metro,1.0,Urban,PSYCH,3049261600,80,80,.,104

In [10]:
hosp_specialty.loc[hosp_specialty["NAME"]=="ATRIUM MEDICAL CENTER"]

,ID,NAME,ADDRESS,CITY,STATE,ZIP,FIPS,CBSA 2020,RUCA Code,FORHP Rural/Urban 2020,TYPE,PHONE NUMBER,"CERTIFIED BEDS, POS","TOTAL BEDS, POS","BEDS, PSF","ACUTE BEDS, HCRIS"
1144,452114,ATRIUM MEDICAL CENTER,"11929 W AIRPORT BLVD, SUITE 110",STAFFORD,TX,77477,48157,Metro,1.0,Urban,LTACH,2812078200,68,68,.,68

In [11]:
hosp_acute.loc[hosp_acute["NAME"]=="ATRIUM MEDICAL CENTER"]

,ID,NAME,ADDRESS,CITY,STATE,ZIP,FIPS,CBSA 2020,RUCA Code,FORHP Rural/Urban 2020,SPECIAL PAYMENT,PHONE NUMBER,"CERTIFIED BEDS, POS","TOTAL BEDS, POS","BEDS, PSF","ACUTE BEDS, HCRIS"
3077,360076,ATRIUM MEDICAL CENTER,ONE MEDICAL CENTER DRIVE,FRANKLIN,OH,45005,39165.0,Metro,2,Urban,NONE,5134205102,328,328,230,235

In [12]:
hosp_acute.loc[hosp_acute["NAME"] == "AU MEDICAL CENTER"]

,ID,NAME,ADDRESS,CITY,STATE,ZIP,FIPS,CBSA 2020,RUCA Code,FORHP Rural/Urban 2020,SPECIAL PAYMENT,PHONE NUMBER,"CERTIFIED BEDS, POS","TOTAL BEDS, POS","BEDS, PSF","ACUTE BEDS, HCRIS"
905,110034,AU MEDICAL CENTER,1120 15TH STREET,AUGUSTA,GA,30912,13245.0,Metro,1,Urban,NONE,7067216569,632,632,448,464

In [13]:
hosp_acute.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4613 entries, 0 to 4612
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      4613 non-null   int64
 1   NAME                    4613 non-null   object
 2   ADDRESS                 4613 non-null   object
 3   CITY                    4613 non-null   object
 4   STATE                   4613 non-null   object
 5   ZIP                     4613 non-null   int64
 6   FIPS                    4612 non-null   float64
 7   CBSA 2020               4607 non-null   object
 8   RUCA Code               4613 non-null   object
 9   FORHP Rural/Urban 2020  4607 non-null   object
 10  SPECIAL PAYMENT         4613 non-null   object
 11  PHONE NUMBER            4613 non-null   int64
 12  CERTIFIED BEDS, POS     4613 non-null   int64
 13  TOTAL BEDS, POS         4613 non-null   int64
 14  BEDS, PSF               4613 non-null   object
 15  ACUTE BEDS, HCRIS       4613 non-null   object
dtypes: float64(1), int64(5), object(10)
memory usage: 576.8+ KB

In [14]:
hosp_specialty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1379 entries, 0 to 1378
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      1379 non-null   object
 1   NAME                    1379 non-null   object
 2   ADDRESS                 1379 non-null   object
 3   CITY                    1379 non-null   object
 4   STATE                   1379 non-null   object
 5   ZIP                     1379 non-null   int64
 6   FIPS                    1379 non-null   int64
 7   CBSA 2020               1379 non-null   object
 8   RUCA Code               1379 non-null   float64
 9   FORHP Rural/Urban 2020  1379 non-null   object
 10  TYPE                    1378 non-null   object
 11  PHONE NUMBER            1379 non-null   int64
 12  CERTIFIED BEDS, POS     1379 non-null   int64
 13  TOTAL BEDS, POS         1379 non-null   int64
 14  BEDS, PSF               1379 non-null   object
 15  ACUTE BEDS, HCRIS       1379 non-null   object
dtypes: float64(1), int64(5), object(10)
memory usage: 172.5+ KB

In [21]:
hosp_specialty.ID.value_counts(dropna=False)

374008    1
294010    1
193090    1
193028    1
103038    1
         ..
162003    1
153045    1
194079    1
363308    1
454126    1
Name: ID, Length: 1379, dtype: int64

In [23]:
numeric_type=hosp_specialty["ID"].astype(int)
# df['2nd'] = df['2nd'].str.replace(',','').astype(int)

ValueError: invalid literal for int() with base 10: '15J200'